/**
 * iA Writer Template “Troped”
 *
 * font-family: Bebas Neue, Cardo
 * font-size:   15px iPhone 5, 16px iPhone 6+, 17px iPad, 18px Mac, 19px
 * line-height: 1.6316 (31px @ font-size: 19px)
 * vert margin: 31px @ 1080px wide
 */

/* TOOLS → core.css */

/* Fonts */
@font-face {
  font-family: "BebasNeue";
  font-style: normal;
  src: local("Bebas Neue");
}

@font-face {
  font-family: "Cardo";
  font-style: normal;
  src: local("Cardo");
}

@font-face {
  font-family: "Hoefler Text";
  font-style: normal;
  src: local("Hoefler");
}

.night-mode {
	color: #fff;
}

/* Main page title */
h1 {
	font: 3.2em 'BebasNeue';
	text-indent: 0;
	text-align: center;
	line-height: 1em;
	width: 100%;
	padding: 0;
	margin: 1em 0 1em 0;
	hyphens: none;
}

/* Main sub-title */
h2 {
	font: 2.2em 'Cardo';
	text-indent: 0;
	text-align: center;
	line-height: 1em;
	width: 100%;
	padding: 0;
	margin: 1em 0 5em 0;
	hyphens: none;
}

p {
	font: 1.0em 'Hoefler';
	line-height: 1.8em;
	text-indent: 2em;
	padding: 0 0 0 0;
	margin: 0 auto 0 auto;
}

p:nth-child(0) {
	font-size: 1.2em;
	color: #333333;
	text-indent: 0;
	margin-bottom: 1em;
}

p:nth-child(0):first-letter {
	display: block;
	float: left;
	font-size: 3.5em;
	line-height: 1em;
	padding: 0 0.05em 0 0;
}

hr:after p {
	font-size: 1.7em;
	color: #17689d;
	text-indent: 0;
	width: 80%;
}

blockquote p {
	float: left;
	font: 1.6em 'BebasNeue', 'Helvetica', serif;
	text-indent: 0;
	line-height: 1em;
	width: 50%;
	padding: 1em 1em 1em 0;
	margin: 0 auto 0 auto;
	border: none;
}

blockquote:nth-child(even) p {
	float: right;
	text-align: right;
	padding: 1em 0 1em 1em;
}

hr {
	width: 79px;
	height: 20px;
	background: url('swirly-black.png') no-repeat center;
	background-size: 79px 22px;
	margin: 4em auto 4em auto;
	border: 0;
}

.night-mode hr {
	width: 79px;
	height: 20px;
	background: url('swirly-white.png') no-repeat center;
	background-size: 79px 22px;
	margin: 4em auto 4em auto;
	border: 0;
}